// Define variables for your color scheme
$light-gray: #f4f9f9;
$blue: #000000;
$green: #2AC489;
$gray: #aaaaaa;
$light-gray: #f4f9f9;
$orange: #fa1e0e;
$red: #fa1e0e;
$yellow: #FFC65A;
$white: #FFFFFF;
