.home_banner {
  padding: 3rem;
  background-color: white;
}

.home_banner h1 {
  margin-bottom: 25px;
}

.home_banner h3 {
  text-align: right;
  margin-bottom: 25px;
}

.home_banner h4 {
  margin-bottom: 25px;
}
.home_banner span {
  font-family: 'Montserrat';
  color:gray;
}

.category_icon {
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
  vertical-align: middle;
  background: 50% / 100% 100% no-repeat;
}

 a {
  font-size: 16px;
}

.mapbox a {
  text-decoration: none;
  border: none;
}

.img_index {
  width: 95%;
  margin-left: 25px;
  margin-left: 25px;
}

.img_preview {
  width: 95%;
  margin-left: 25px;
  margin-left: 25px;
}
.hidden {
  display: none;
}

.block {
  display: block;
}

.text h2 {
  font-size: 40px;
}

.selector {
  position: absolute;
  transform: scale(0);
}

.selector + label {
  cursor: pointer;
  border: 1px solid black;
  padding: 8px 24px;
  background-color: white;
  color: black;
  text-decoration: underline;
}
.selector:checked + label {
  color:white !important;
  background: black;
  border: none;
  text-decoration: none;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-card {
  align-items: center;
}
