.home_banner {
  padding: 5rem;
  background-color: white;
  width: 100%;
}

.home_banner h1 {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 40px;
  color: black;
}

.home_banner h2 {
  font-family: 'Baloo Chettan 2', cursive;
  color: black;
  font-size: 1.5rem;

}

.home_banner span {
  font-family: 'Montserrat';
  font-size: 1.125rem;
  color:gray;
}

.category_icon {
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
  vertical-align: middle;
  background: 50% / 100% 100% no-repeat;
}

 a {
  font-size: 16px;
}

.mapbox a {
  text-decoration: none;
  border: none;
}

.home_banner h1 {
  font-size: 55px;
  margin-bottom: 25px;
}

  .home_banner h2 {
  margin-bottom: 25px;
}

.home_banner {
   margin-bottom: 20px;
}

.row {
  // position: relative ;
}

.img_preview {
  width: 95%;
  margin-left: 25px;
  margin-left: 25px;
  // position: absolute;
}
.hidden {
  display: none;
}

.block {
  display: block;
}
