// Specific CSS for your home-page
// Specific CSS for your home-page
.home_banner {
  padding: 5rem;
  background-color: black;
  width: 100%;
}

h1 {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 40px;
  color: white;
}

h2 {
  font-family: 'Baloo Chettan 2', cursive;
  color: white;
  font-size: 1.625rem;

}

span {
  font-family: 'Montserrat';
  font-size: 1.125rem;
  color:white;
}

.sticky_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
