.card-profil {
  text-align: center;
  border-radius: 18px;
  padding-top: 50px;
}

.card-profil h1 {
}

.profil-image {
  border-radius: 100px;
}



.card-profil-info p {
  text-align: center;
  font-size: 15px;
  justify-content: space-evenly;
}

.card-profil-description p {
}


.card-profil-description h1 {
  font-size: 30px;
}

.card-profil-description p {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-bottom: 60px;
}

.card-favortie-missions h1 {
  text-align: center;
  margin-top: 60px
}
