.card-profil {
  text-align: center;
  border-radius: 18px;
  padding-top: 50px;
}

.profil-image {
  border-radius: 5px;
}

.card-profil-info p {
  text-align: center;
  font-size: 15px;
}

.card-profil-description h1 {
  font-size: 30px;
}

.card-profil-description p {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-bottom: 60px;
}


.jauge {
  width: 100%;
  background-color: #ddd;
  border-radius: 50px;
}

.skills {
    text-align: right;
    // padding-top: 10px;
    // padding-bottom: 10px;
    color: white;
    border-radius: 50px;
    padding: 10px;


}
.progress {
    width: 10%;
    background-color: #2AC489;
    // border-radius: 50px;
    height: 20px;
}

.badges {
  margin: 50px;
}

.niveau {
  margin: 30px;
}

.btn-success {
    width: 45%;
}
