<div class="footer flexbox">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-youtube-square"></i></i></a>
  </div>
  <div class="footer-list flexbox justify-content-center">
    <ul>
      <li><a href="#">Nous contacter</a></li>
      <li><a href="#">On parle de nous</a></li>
      <li><a href="#">Notre histoire</a></li>
    </ul>
  </div>
</div>
