.footer {
  background: black;
  bottom:0;
  width:100%;
  text-align: center;
  height:50px;
  position: fixed;
}

.footer-links {
  text-align: center;
  background: black;

}

.footer-links a {
  justify-content: space-between;
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  text-align: center;
  background: black;

}


.footer ul {
list-style:none;
text-align: center;
  background: black;

}

.footer a {
  color: white;
}

.li :hover {
  font-weight: bold;
  color: #2ac489;
}
