.footer {
  background: black;
  bottom:0;
  width:100%;
  text-align: center;
  padding: 2rem 0;
  margin-top: 30px;

}

.footer-links {
  text-align: center;
  justify-content: space-between;

}

.footer-links a {
  justify-content: space-evenly;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  text-align: center;

}


.footer ul {
  list-style:none;
  text-align: center;
  background: black;
  display: flex;
  margin-bottom: 0;
}

.footer a {
  color: white;
}

.li :hover {
  font-weight: bold;
  color: #2ac489;
}
