.map {
  border:none;
  text-decoration: none;
  padding:0;
  margin-left:0;
  height: 100vh;
  top: 0;
  position:sticky;
}


.infowindow {
  background-color: white;
  border:none;

}
.infowindow a {
  border:none;

}

.marker {
  // background-image: asset-url('location.svg');
}
